$text-color: #1A1A1A;
$key-color: #02B181;

$inner_width: 1100px;

$pc: 1024px;
$tab: 768px;
$sp: 428px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin sp-small {
  @media (max-width: ($sp)) {
    @content;
  }
}
