/* setting */
:root {
  --gray: #e0e6ec;
  --text: #677c90;
  --black: #333333;
}

@font-face {
  font-family: "noto";
  src: url("../fonts/NotoSansJP-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("../fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("../fonts/NotoSansJP-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "en";
  src: url("../fonts/Poppins-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@function rem($px, $base: 16px) {
  @if unitless($px) {
    $px: $px * 1px;
  }
  @return ($px / $base) * 1rem;
}

@mixin inner-neumorphism {
  box-shadow:
    inset -2px -2px 4px rgba(255, 255, 255, 0.8),
    inset 2px 2px 4px rgba(180, 190, 200, 0.5);
}

@mixin inner-neumorphism-reverse {
  box-shadow:
    inset 2px 2px 4px rgba(255, 255, 255, 0.8),
    inset -2px -2px 4px rgba(180, 190, 200, 0.5);
}

/* base */
* {
  box-sizing: border-box;
  position: relative;
  font-feature-settings: "palt";
}

html {
  font-family: "Noto Sans JP", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #333;
  background: var(--gray);
  scroll-behavior: smooth;
}

figure {
  margin: 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.3s 0s ease;
  color: var(--black);
}

@media (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.7;
  }
}

.pc-only,
.sp-only {
  display: none;
}

@media (min-width: 769px) {
  .pc-only {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .sp-only {
    display: inherit;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  -webkit-font-feature-settings: "palt";
  line-height: 1.6;
}

.inner {
  width: min(100%, 700px);
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .inner {
    padding: 0 20px;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 1fr 200px;
  gap: rem(40);
  max-width: 1000px;
  margin: 0 auto;
  @media (max-width: 1060px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

.header {
  grid-area: header;
  text-align: center;
  font-weight: 900;
  padding: rem(40) rem(0);
  @media (max-width: 1200px) {
    padding: rem(20) rem(20);
  }
  &-title {
    font-weight: 900;
    margin-top: rem(60);
    font-size: clamp(rem(20), 6vw, rem(40));
    margin-bottom: rem(10);
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.6);
  }
  &-lead {
    font-weight: 500;
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: rem(15);
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: rem(5);
    }
    img {
      display: block;
      max-width: 100px;
      fill: blue;
      @media (max-width: 768px) {
        max-width: 120px;
      }
    }
    figcaption {
      font-size: rem(13);
      @media (max-width: 768px) {
        font-size: rem(11);
      }
    }
  }
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 500;

  @media (max-width: 1060px) {
    display: block;
  }
  &__wrap {
    width: 46px;
    height: 46px;
    background: #384755;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    span {
      width: 24px;
      height: 2px;
      background: #fff;
      transition: 0.3s all;
    }
  }
  &.is-active {
    span:nth-child(1) {
      opacity: 0;
    }
    span:nth-child(2) {
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      top: -7px;
    }
  }
}

.main {
  grid-area: main;
  @media (max-width: 1060px) {
    padding: 0 20px;
  }
}

.title {
  color: var(--black);
  font-size: rem(30);
  font-weight: 900;
  margin-bottom: rem(30);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  &-open {
    font-weight: 500;
    font-size: rem(13);
    margin: 0 0 0 rem(40);
    border-bottom: 1px dashed #555;
    padding-bottom: 4px;
    cursor: pointer;
    &::before {
      content: "+";
      padding-right: 3px;
    }
    &.is-active {
      &::before {
        content: "-";
      }
    }
  }
}

.set {
  background: rgba(255, 255, 255, 0.7);
  box-shadow:
    0 0 10px rgba(224, 230, 236, 0.9),
    inset 2px 2px 4px rgba(255, 255, 255, 0.8),
    inset -2px -2px 4px rgba(180, 190, 200, 0.1);
  border-radius: rem(20);
  padding: rem(40);
  display: flex;
  flex-direction: column;
  gap: rem(50);
  margin-bottom: rem(80);
  @media (max-width: 768px) {
    padding: rem(40) rem(20);
    border-radius: rem(10);
  }
  &-nav {
    background: #f3f3ef;
    padding: rem(20);
    border-radius: rem(20);
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      border-radius: rem(10);
    }
    &__item {
      a {
        font-size: rem(13);
        background: rgba(255, 255, 255, 0.6);
        border-radius: 8px;
        padding: 4px 12px 4px 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 768px) {
          font-size: rem(15);
        }
        &::before {
          content: "";
          padding-right: 5px;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
          display: block;
          width: 0;
          height: 4px;
          background: #000;
        }
      }
    }
  }
  &-title {
    color: var(--text);
    font-size: rem(20);
    font-weight: 900;
    margin-bottom: rem(15);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
  }
  &-group {
  }
  &-text {
    font-size: rem(14);
    margin-bottom: rem(30);
    @media (max-width: 768px) {
      font-size: rem(15);
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    &__item {
      display: flex;
      flex-direction: column;
      gap: rem(5);
    }
    &__title {
      padding: rem(10) rem(20);
      @include inner-neumorphism;
      border-radius: rem(30);
      display: flex;
      align-items: center;
      gap: rem(20);
      margin-bottom: rem(0);
      padding-right: rem(40);
      cursor: pointer;
      @media (max-width: 768px) {
        border-radius: rem(15);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        padding: rem(32) rem(70) rem(32) rem(30);
      }
      &--code {
        color: #427e16;
        font-weight: 700;
        font-size: rem(18);
        @media (max-width: 768px) {
          font-size: rem(20);
        }
      }

      &--detail {
        color: #999;
        font-weight: 700;
        font-size: rem(12);
        @media (max-width: 768px) {
          font-size: rem(13);
        }
      }
      &--copy {
        width: rem(30);
        height: rem(30);
        display: block;
        position: absolute;
        right: rem(60);
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        background: transparent url("../img/icon_copy.svg") no-repeat center center;
        background-size: 20px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        @media (max-width: 768px) {
          right: rem(10);
          top: rem(33);
          width: rem(40);
          height: rem(40);
        }
        &::before {
          content: "クリップボードにコピーしました！";
          background: hsla(241, 52%, 17%, 0.828);
          padding: rem(3) rem(10);
          border-radius: rem(10);
          position: absolute;
          top: rem(5);
          right: 120%;
          width: max-content;
          z-index: 5;
          font-size: rem(10);
          font-weight: 700;
          color: #fff;
          z-index: 250;
          transition: 0.3s all;
          visibility: hidden;
          opacity: 0;
        }
        &.is-active {
          &::before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &--more {
        width: rem(30);
        height: rem(30);
        display: block;
        position: absolute;
        right: rem(20);
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        @media (max-width: 768px) {
          right: rem(10);
          top: rem(83);
          width: rem(40);
          height: rem(40);
        }
        &::before {
          position: absolute;
          left: 15%;
          top: 30%;
          transform: rotate(135deg) translateX(-50%) translateY(-50%);
          content: "";
          width: 7px;
          height: 7px;
          border-top: 2px solid #7a0;
          border-right: 2px solid #7a0;
          display: block;
          border-radius: 2px;
          @media (max-width: 768px) {
            width: 10px;
            height: 10px;
          }
        }
        &.is-active {
          transform: rotate(-180deg) translateY(50%);
          &::before {
          }
        }
      }
    }

    &__description {
      height: 0;
      transition: 0.3s all;
      opacity: 0;
      &.is-active {
        height: min-content;
        opacity: 1;
      }
    }
    &__detail {
      font-size: rem(13);
      font-weight: 500;
      padding: 0 rem(10) rem(10);
      @media (max-width: 768px) {
        font-size: rem(14);
      }
    }
    &__code {
      background: rgba(224, 230, 236, 0.3);
      color: var(--text);
      padding: rem(10) rem(20);
      font-size: rem(12);
      width: 100%;

      @media (max-width: 768px) {
        font-size: rem(14);
      }
      &::before {
        content: "出力例";
        display: block;
        font-size: rem(12);
        font-weight: 900;
        color: #999;
        margin-bottom: rem(10);
        display: none;
      }
    }
  }
}

.aside {
  grid-area: aside;
  &.is-active {
    background: rgba(56, 71, 85, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    padding: rem(100) rem(30) rem(50);
  }
  @media (max-width: 1060px) {
    display: none;
  }
  &-nav {
    position: sticky;
    top: 0;
    left: 0;
    transition: 0.3s all;
    padding-top: 0;
    z-index: 999;

    &.is-scrolled {
      padding-top: rem(40);
      @media (max-width: 1060px) {
        padding-top: 0;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-bottom: rem(20);
    }
    &__item {
      a {
        font-size: rem(15);
        @include inner-neumorphism();
        width: max-content;
        padding: rem(10);
        border-radius: rem(30);
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: var(--text);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
        @media (max-width: 768px) {
          border-radius: rem(15);
        }
        &:hover {
          @media (min-width: 1061px) {
            background: rgba(255, 255, 255, 0.3);
          }
        }
        @media (max-width: 1060px) {
          background: #fff;
          color: var(--text);
        }
      }
      &--pagetop {
        @media (max-width: 1060px) {
          display: none;
        }
      }
    }
  }
  &-text {
    font-size: rem(13);
    color: #111;
  }
  &-pagetop {
    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #384755;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 100;
      display: none;
      font-size: 0;
      &::before {
        content: "";
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: #fff;
        width: 10px;
        height: 8px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        pointer-events: none;
      }
      @media (max-width: 1060px) {
        display: block;
      }
    }
  }
}

.footer {
  &-policy {
    background: rgba(200, 200, 200, 0.1);
    padding: rem(30);
    box-shadow:
      0 0 10px rgba(224, 230, 236, 0.9),
      inset -1px -1px 3px rgba(255, 255, 255, 0.8),
      inset 1px 1px 3px rgba(180, 190, 200, 0.5);
    border-radius: 20px;
    &__label {
      font-size: rem(18);
      font-weight: 900;
      margin-bottom: rem(10);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
    }
    &__detail {
      margin-bottom: rem(30);
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &__item {
      font-size: rem(14);
      color: rgba(0, 0, 0, 0.6);
      padding: 0 rem(20);
      text-indent: rem(-12);
      padding-left: rem(12);
      @media (max-width: 768px) {
        font-size: rem(16);
      }
      &::before {
        content: "・";
      }
      a {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  &-copy {
    font-style: normal;
    font-size: rem(12);
    text-align: center;
    padding: rem(30) 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    @media (max-width: 768px) {
      padding: rem(20) 0 rem(20);
    }
  }
}
